<p id="notice"><%= notice %></p>

<p>
  <strong>Riot:</strong>
  <%= @champion.riot_id %>
</p>

<p><%= image_tag @champion.icon_url %></p>

<p>
  <strong>Name:</strong>
  <%= @champion.name %>
</p>

<%= link_to 'Edit', edit_champion_path(@champion) %> |
<%= link_to 'Back', champions_path %>
